{:aliases {:bug-alias        {:extra-deps  {com.bhauman/figwheel-main       {:mvn/version "0.1.4"}
                                            com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                              :extra-paths ["target"]
                              :main-opts   ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :bug-autocomplete {:extra-deps  {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                              :extra-paths ["src"]
                              :main-opts   ["-m" "rebel-readline.main"]}}}
